html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

body,
section,
h1 {
  margin: 0;
}

section:not(.entete, #pied-page, #galerie) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#accueil {
  background-color: aquamarine;
}

#galerie {
  background-color: #C0C0C0;
}
#tableau {
  background-color: rgb(141, 155, 233);
}
#video {
  background-color: rgb(195, 127, 255);
}
#pied-page {
  background-color: rgb(27, 176, 214);
}
