.form-inscription {
  display: flex;
  flex-direction: row;
}
  /* Styles par défaut pour les éléments du formulaire */
  label, input[type="text"], input[type="email"], input[type="submit"] {
    display: block;
    width: 100%;
   
  }

  #inscription {
    background-color: #ffffff;
  }
  
   input {
    border-radius: 5px;
    padding: 8px;
   }

   #btnInscription {
    background-color: #0453f0;
    margin-left: 5px;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 5px;
   
   
   
   }

  /* Styles pour les écrans plus grands */

    @media screen and ( max-width : 768px ){
      .form-inscription {
        display: flex;
        flex-direction: column;
      }
   
    form {
      max-width: 500px;
      margin: 0 auto;
    }

    label, input[type="text"], input[type="email"], input[type="submit"] {
      display: inline-block;
      width: auto;
      margin-right: 10px;
      margin-bottom: 0;
    }

    input[type="submit"] {
      margin-top: 10px;
    }

   
  }
