#tableau{

    table, th, td {
        border: 1px solid rgb(100, 7, 7);
        color: crimson;
    }
    
    td, th{
        color: rgb(59, 6, 6);
        text-align: center;
        
    }
    th{
        font-size: 25px;
    }
    td{
        font-size: 20px;
    }
    table{
        padding: 10px;
    }

    padding: 30px;
}



