#tableau{

    table, th, td {
        border: 1px solid rgb(190, 241, 189);
    }
    
    td, th{
        color: white;
        text-align: center;
        
    }
    th{
        font-size: 25px;
    }
    td{
        font-size: 20px;
    }
    table{
        padding: 10px;
    }

    padding: 30px;
}

